*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
}

header {
   padding: 1rem;
}

h1 {
   margin: 0;
   text-align: center;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.draw {
   width: 95%;
   max-width: 500px;
   max-height: 500px;
   box-shadow: inset 0 0 2px 0 black;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 1.5rem;
}

.controls {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}

.buttons {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.pickers {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}